@CHARSET "UTF-8";


.box-top, .box-bottom {
	display: block;
	position: relative;
	height: 4px;
	overflow: hidden;
	background: #387ebd;
	z-index: 10;
}

.box-top b, .box-bottom b {
	float : right;
	display: block;
	width: 4px;
	height: 4px;
	overflow: hidden;
	background: #387ebd;
}
.box-bottom b {
	background-position: 0 -3px;
}

div.box-hd {
	cursor: pointer;
	position: relative;
	height: 27px;
	padding: 0 10px;
	margin : -2px 0 -2px 0;
	border: 1px solid #BAD6FF;
	background:none repeat scroll 0 0 #FFFFFF;
	z-index: 192;
	font: 12px/1.1 tahoma, arial, 宋体b8b体4f53, sans-serif;
}

div.box-hd-click {
	border:2px solid #387ebd;
	border-style : solid none solid solid;
	z-index: 200;
}

div.box-hd i : hove {
	border : 1px solid;
}

div.box-hd i.collapse {
	background-position: 0 -240px;
}

div.box-hd i.expand {
	background-position: 0 -255px;
}

div.box-hd i {
	float: right;
	width: 16px;
	height: 16px;
	margin: 5px 4px 0 0;
	background: url(../img/tool-sprites.gif);
}

div.box-bd {
	position : absolute;
	border-bottom:10px;
	border-top:10px;
	width : 100px;
	left : 160px;
	top : 0;
	z-index: 190;
	background:none repeat scroll 0 0 #FFFFFF;
	border:2px solid #387ebd;
	padding:10px;
}

div.box-Panel {
	border-left: 1px solid #387ebd;
	border-right: 1px solid #387ebd;
}

i, cite, em, var, address {
	font-style: italic;
}

div.box-hd h3 {
	float: left;
	line-height: 26px;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
}

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
	margin: 0;
	padding: 0;
}