@CHARSET "UTF-8";

.treepanel {
}
.treeroot {
}

.treepanel ul, ol {
	list-style: none;
	font: 13px arial,tahoma,helvetica,sans-serif;
	padding: 0;
}

.branch {
	margin-left: 18px;
	position : relative;
	overflow: hidden;
}

.node {
	background: url(../img/tree/tree-vline.png) repeat-y 8px 1px;
	position : relative;
}

.node-last {
    background: url("../img/tree/tree-vline.png") no-repeat scroll 8px -91px transparent;
}

.wrapper:hover {
	background: none repeat scroll 0 0 #E1EDFF;
}

.wrapper {	
	overflow: hidden;
	zoom: 1;
	background: url(../img/tree/tree-corner.png) no-repeat 8px 0;
	padding: 2px 0 2px;
}

.icon {
	float: left;
	width: 16px;
	height: 16px;
	margin: 1px 3px 0 0;
	text-align: center;
	line-height: 16px;
}

.expand {
	background: url(../img/tree/icon.png) no-repeat -57px 2px;
	cursor: pointer;
}

.collapse {
	background: url(../img/tree/icon.png) no-repeat -37px 2px;
	cursor: pointer;
}

.folder {
	background: url(../img/tree/folder.gif) no-repeat;
	cursor: pointer;
}

.open {
	background: url(../img/tree/folder-open.gif) no-repeat;
	cursor: pointer;
}

.leaf {
	background: url(../img/tree/leaf.gif) no-repeat;
}

.col {
	float: left;
	padding-top: -1px;
}
